{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
          <h2>Login</h2> 
          <form method="POST" action="/FitQuest">{% csrf_token %}
            <label for="otp">Enter OTP sent on {{email}}</label>
            <input type="text" id="username" name="otp" placeholder="otp" required>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
</body>
</html>